{% extends "recipes/_base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
  <!-- Hero -->
  <section class="hero" style="background-image: url('{% static 'recipes/images/dan-gold-4_jhDO54BYg-unsplash.jpg' %}');">
    <div class="overlay">
      <h1>Greatest African cuisines at your fingertips!</h1>
      <div class="search-bar">
        <form method="get" action="{% url 'all-recipes' %}">
          <input type="text" name="q" placeholder="Search recipes..." value="{{ request.GET.q}}">
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Cuisines -->
<section class="cuisines">
  <h2>FEATURED CUISINES</h2>
  <div class="cards">
    {% for recipe in recipes %}
      <div class="card">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        <h3>{{ recipe.title }}</h3>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'all-recipes' %}"><button class="more-btn">More</button></a>
</section>


  <!-- Reviews -->
<div class="container">
  <h1>All Recipe Reviews</h1>

  {% for review in page_obj %}
    <div class="review-box">
      <strong>{{ review.user.username }}</strong> on
      <a href="{% url 'recipe-detail' review.recipe.pk %}">
        <em>{{ review.recipe.title }}</em>
      </a>
      <p>{{ review.text }}</p>
      <small>{{ review.created_at|naturaltime }}</small>
    </div>
  {% empty %}
    <p>No reviews yet.</p>
  {% endfor %}

  <!-- Pagination controls -->
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
</div>

{%  endblock %}

